<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Foodies-3 FoodDon This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="auth-screen">
    <ion-label class="title">Forgot Password</ion-label>
    <ion-label class="sub-title">Enter your Email Address below & We’ll send you an Email with Instructions on how to
      change your Password</ion-label>

    <div class="bottom-content" *ngIf="currentDiv == 1">
      <ion-label class="lbl">Mobile Number</ion-label>
      <ion-item class="item-content" lines="none">
        <ion-label class="lbl">+91</ion-label>
        <ion-input placeholder="963 - 963 - 8520" type="number"></ion-input>
      </ion-item>
      <ion-button expand="block" fill="solid" color="primary" (click)="onVerify()">
        Send OTP
      </ion-button>
    </div>

    <div class="end-btn" *ngIf="currentDiv == 2">
      <ion-label class="timer">00:60</ion-label>
      <ion-label class="resend">Resend OTP</ion-label>
    </div>

    <div class="bottom-content" *ngIf="currentDiv == 2">
      <ion-label class="lbl">OTP</ion-label>
      <div class="otp-content">
        <ng-otp-input
          [config]="{length:6,isPasswordInput:false,inputStyles:{'width': '50px','height': '50px','border':'1px solid lightgray','background-color':'#fff','border-radius':'50%'},placeholder:'*'}"></ng-otp-input>
      </div>
      <ion-button expand="block" fill="solid" color="primary" (click)="onVerifyOtp()">
        Submit
      </ion-button>
    </div>

    <div class="bottom-content" *ngIf="currentDiv == 3">
      <ion-label class="lbl">Password</ion-label>
      <ion-item class="item-content" lines="none">
        <ion-input placeholder="Enter password" type="password"></ion-input>
      </ion-item>

      <ion-label class="lbl">Confirm Password</ion-label>
      <ion-item class="item-content" lines="none">
        <ion-input placeholder="Enter Confirm password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" fill="solid" color="primary" (click)="onBack()">
        Change Password
      </ion-button>
    </div>
  </div>
</ion-content>