:root {
  /** primary **/
  --ion-color-primary: #0052CC;
  --ion-color-primary-rgb: 0, 82, 204;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #0046b3;
  --ion-color-primary-tint: #1a63d1;

  /** secondary **/
  --ion-color-secondary: #1E1E2F;
  --ion-color-secondary-rgb: 30, 30, 47;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #191927;
  --ion-color-secondary-tint: #323246;

  /** tertiary **/
  --ion-color-tertiary: #00B8D9;
  --ion-color-tertiary-rgb: 0, 184, 217;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #00a2bf;
  --ion-color-tertiary-tint: #1ac0dd;

  /** success **/
  --ion-color-success: #22C55E;
  --ion-color-success-rgb: 34, 197, 94;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-shade: #1da851;
  --ion-color-success-tint: #38cc6e;

  /** warning **/
  --ion-color-warning: #F59E0B;
  --ion-color-warning-rgb: 245, 158, 11;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-shade: #d48b0a;
  --ion-color-warning-tint: #f6a922;

  /** danger **/
  --ion-color-danger: #DC2626;
  --ion-color-danger-rgb: 220, 38, 38;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-shade: #c22222;
  --ion-color-danger-tint: #e03c3c;

  /** dark **/
  --ion-color-dark: #111827;
  --ion-color-dark-rgb: 17, 24, 39;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-shade: #0f1622;
  --ion-color-dark-tint: #2b2f3a;

  /** medium **/
  --ion-color-medium: #6B7280;
  --ion-color-medium-rgb: 107, 114, 128;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-shade: #5e6471;
  --ion-color-medium-tint: #7a808d;

  /** light **/
  --ion-color-light: #F9FAFB;
  --ion-color-light-rgb: 249, 250, 251;
  --ion-color-light-contrast: #000000;
  --ion-color-light-shade: #d3d4d6;
  --ion-color-light-tint: #fafbfc;
}
