<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="onBack()" color="dark">
        <ion-icon slot="icon-only" name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="auth-screen">
    <ion-label class="title">Create An ErrandBoy Account</ion-label>
    <ion-label class="sub-title">Please Enter Your Credentials in the Form Below..!</ion-label>

    <div class="bottom-content">

      <!-- <form [formGroup]="registerForm">
      </form> -->

      <ion-label class="lbl">Username</ion-label>
      <ion-item class="item-content" lines="none">
        <ion-input placeholder="Enter Username" type="text" #registerName ></ion-input>
      </ion-item>
      <!-- <p *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error">Valid
        Username required</p> -->

      <ion-label class="lbl">Mobile Number</ion-label>
      <ion-item class="item-content" lines="none">
        <ion-label class="lbl">+234</ion-label>
        <ion-input placeholder="123 - 456 - 7890" type="number" #registerNumber></ion-input>
      </ion-item>

      <ion-label class="lbl">Email Address</ion-label>
      <ion-item class="item-content" lines="none">
        <ion-input placeholder="Enter email address" type="email" #registerEmail></ion-input>
      </ion-item>
      <!-- <p *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">Valid email
        required</p> -->


      <ion-label class="lbl">User Type</ion-label>
      <ion-select class="item-content" [(ngModel)]="userType">
        <ion-select-option value="client">Client</ion-select-option>
        <ion-select-option value="officer">Errand Officer</ion-select-option>
      </ion-select>

      <ion-label class="lbl">Password</ion-label>
      <ion-item class="item-content" lines="none">
        <ion-input placeholder="Enter password" type="password"
          #registerPassword></ion-input>
      </ion-item>
      <!-- <p *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">Password
        must be at least 6 characters</p> -->

      <ion-label class="lbl">Confirm Password</ion-label>
      <ion-item class="item-content" lines="none">
        <ion-input placeholder="Enter Confirm password" type="password"></ion-input>
      </ion-item>

      <ion-button expand="block" fill="solid" color="primary"
        (click)="register(registerName, registerEmail, registerPassword, registerNumber)">
        Sign Up
      </ion-button>

    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-label class="create-account" (click)="onBack()">Already Have An Account? <span class="bold">Login</span>
    </ion-label>
  </ion-toolbar>
</ion-footer>