<ion-header class="ion-no-border">
  <ion-toolbar mode="md" color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="util.openSideMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-label class="title-bold-toolbar">Request for an Errand</ion-label>
      <ion-label class="title-regular-toolbar">Fill out your errand Request</ion-label>
    </ion-title>
    <ion-buttons slot="end">
      <ion-avatar slot="end">
        <img src="assets/images/avatar.jpg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
  <!-- <ion-toolbar mode="md">
    <ion-item class="search-content-toolbar" lines="none">
      <ion-icon slot="start" name="search-outline" color="medium" (click)="openSearchModal()"></ion-icon>
      <ion-label class="lbl" (click)="openSearchModal()">Search Providers</ion-label>
      <ion-icon slot="end" name="options-outline" (click)="presentModal()"></ion-icon>
    </ion-item>
  </ion-toolbar> -->
</ion-header>

<ion-content class="ion-padding">
  
  <img src="\assets\images\banners\request_errand.jpg" style="width: 100%;" />
  <br/>
  <div class="ion-padding">
    Instructions would go here......
  </div><br/>
  <ion-item>
    <ion-label>Current Location:</ion-label>
    <ion-text>{{ currentLocation }}</ion-text>
  </ion-item>
  <!-- <div *ngIf="center">
    <google-map
      height="300px"
      width="100%"
      [center]="center"
      [zoom]="15">
      <map-marker [position]="center" [label]="'You'" [title]="'Your Location'"></map-marker>
    </google-map>
  </div> -->
  <form (submit)="requestDelivery()">
    <!-- <ion-item>
      <ion-label position="floating">Pickup Address</ion-label>
      <ion-input [(ngModel)]="pickupAddress" name="pickup"></ion-input>
    </ion-item> -->
    <ion-item>
      <ion-label position="floating">Delivery Address</ion-label>
      <ion-input [(ngModel)]="deliveryAddress" name="delivery"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Errand Description</ion-label>
      <ion-textarea [(ngModel)]="deliveryDescription" name="description" rows="3"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Base Fee</ion-label>
      <ion-input [(ngModel)]="baseFee" name="fee" type="number"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Send Errand</ion-button>
    <!-- <ion-button expand="full" (click)="payForDelivery()">Pay with Paystack</ion-button> -->
  </form>
  <hr/>
  
  <div class="chat-list" *ngFor="let item of util.messages" style="display: none;">
    <div class="left-message" *ngIf="item.from == 'jid_1109'">
      <div class="sender-img" [ngStyle]="{'background-image': 'url('+cover+')'}"></div>
      <div class="text-type" *ngIf="item.type =='text'"> <ion-label class="msg">{{item.text}}</ion-label> </div>
      <div class="image-type" *ngIf="item.type =='image'">
        <div *ngFor="let img of item.attachment" class="img"
          [ngStyle]="{'background-image': 'url('+img.payload.url+')'}">
        </div>
      </div>
    </div>
    <div class="right-message" *ngIf="item.from != 'jid_1109'">
      <div class="text-type" *ngIf="item.type =='text'"> <ion-label class="msg">{{item.text}}</ion-label> </div>
      <div class="image-type" *ngIf="item.type =='image'">
        <div *ngFor="let img of item.attachment" class="img"
          [ngStyle]="{'background-image': 'url('+img.payload.url+')'}">
        </div>
      </div>
    </div>
  </div>
</ion-content>